
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
}
/*desktop nav*/
nav,.nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size:1.5rem;
    
}
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color:grey;
    text-decoration: underline;
    text-decoration-color: rgb(181,181,181);
    text-underline-offset: 0.5rem;
}
.logo:hover{
    cursor: default;
}
.logo{
    font-size: 2rem;
}

.icon-style{
    height: 50px;
    width: 30px;
}
.icon-group{
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    background-color: white;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
}
.visible{
    display: none;
}
/* profile-section */
.about-me-pic-container{
    display: flex;
    justify-content: center;
}
section{
    padding-top: 4vh;
    height: 96vh;
    box-sizing: border-box;
    min-height: fit-content;
    margin: 0 10rem;
}
#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.section-profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-greeting{
    padding-bottom: 1rem;
    color: rgb(78, 78, 78);
    font-weight: 600;
}
.section-title{
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.section-role{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(78, 78, 78);
}
/* social-media-section */
.socialmedia-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.social-media-logo-styling{
    height: 30px;
    width: 30px;
}
.social-media-logo-styling:hover{
    cursor: pointer;
}
.profile-pic-styling{
    height: 400px;
    width: 400px;
}
/*section-profile-button */
.button-container{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}
.btn-styling1,.btn-styling2{
    border-radius: 2rem;
    width: 8rem;
    padding: 1rem;
    border: solid 1px ;
    transition: all 300ms ease;
}
.btn-styling1{
    color: black;
    background-color: white;
}
.btn-styling2{
    color: white;
    background-color: rgb(68,68,68);
}
.btn-styling1:hover{
    background-color:rgb(68, 68, 68);
    color: white;
    cursor: pointer;
}
.btn-styling2:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
/* about-section */
.about-container{
    display: flex;
    gap: 2rem;
    
}
.section-para{
    text-align: center;
    color: grey;
    
}
.section-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 0.75rem;
}

.about-section-profile-pic{
    height: 400px;
    width: 400px;
    border-radius: 2rem;
}
.icon{
    height:2rem;
    width: 2rem;
}
.about-me-education-container{
    border: solid 1px grey;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.qualification{
    margin-bottom: 0.5rem;
    color: grey;
}
.down-arrow-logo{
    position: absolute;
    height: 2rem;
    width: 2rem;
    right: 5rem;
    
}

.about-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Experience-section */
.experience-container{
    display: flex;
    justify-content: center;
    
    gap: 2rem;
}
.skill-section{
    border: solid 1px grey;
    border-radius: 2rem;
}
.article-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.skill-section{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding: 1.5rem;
}
article{
    width: 10rem;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;

}
.experience-subtitle{
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    color: rgb(78, 78, 78);
    text-align: center;

}
.projects-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
}
.project-img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
    margin-bottom: 2rem;
}
h2{
    text-align: center;
    margin-bottom: 1rem;
}
.projects-inner-container{
    background-color: rgb(241, 230, 230);
    border: solid 1px grey;
    padding: 1.5rem;
    border-radius: 2rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
/* conatct-section */
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}
.contact-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem auto;
    padding: 0.5rem;
    border: solid 1px grey;
    border-radius: 2rem;
    background-color:rgb(237, 234, 234);
}
.inner-contact-container{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    margin: 1rem;
}
.contact-para{
    font-size: 1.2rem;

}
footer{
    height: 20vh;
    margin:0 2rem;
}
footer p{
    text-align: center;
}